@define-mixin btn {
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  touch-action: manipulation;
  user-select: none;
  appearance: none;

  &:focus {
    outline: none;
  }

  &:disabled {
    cursor: not-allowed;
  }
}

button,
.btn,
a {
  @apply transition-all duration-300;
  @mixin btn;
}

.btn--cover {
  &:before {
    content: '';
    @apply absolute inset-0 w-full h-full z-10;
  }
}
