.btn--menu {
  @apply relative flex items-center;
  width: 30px;
  min-width: 30px;
  @screen md {
    width: 40px;
    min-width: 40px;
  }
}

.btn--menu__inner {
  width: 30px;
  min-width: 30px;
  position: absolute;

  @screen md {
    width: 40px;
    min-width: 40px;
  }

  &:before,
  &:after {
    @apply transition-all duration-300 bg-gray-900;
    width: 30px;
    min-width: 30px;
    @screen md {
      width: 40px;
      min-width: 40px;
    }
    height: 3px;
    content: '';
    overflow: hidden;
    @apply absolute inset-x-0;
  }
}

.btn--menu.active .btn--menu__inner:before {
  transform: rotate(45deg);
  @apply bg-white;
}

.btn--menu.active .btn--menu__inner:after {
  transform: rotate(-45deg);
  @apply bg-white;
}
