@import 'tailwindcss/base';

@import 'swiper/swiper-bundle.min.css';

@import './typography';
@import './layout';
@import './animations';
@import './utilities';

@import 'components/site/cursor';
@import 'components/site/scrollbar';
@import 'components/site/locomotive-scroll';

@import 'components/home/card';

@import 'components/global/loader';

@import 'components/btn/btn';
@import 'components/form/form';

@import 'tailwindcss/components';

@import 'tailwindcss/utilities';
