@import 'tailwindcss/base';

@import '../../../node_modules/locomotive-scroll/dist/locomotive-scroll.min.css';

@import './typography';
@import './layout';
@import './animations';
@import './utilities';

@import 'components/site/cursor';

@import 'tailwindcss/components';

@import 'tailwindcss/utilities';
