.site-cursor {
  @apply fixed;
  width: 20px;
  height: 20px;
  .site-cursor__dot {
    width: 20px;
    height: 20px;
    transform: translate(-50%, -50%);
    mix-blend-mode: difference;
    z-index: 9999;
    will-change: transform;

    transition: top 50ms ease-in-out, left 50ms ease-in-out,
      transform 300ms ease-in-out, filter 300ms ease-in-out,
      opacity 300ms ease-in-out;
  }

  .site-cursor__icon {
    width: 150px;
    min-width: 150px;
    transform: translate(-50%, -50%) scale(0);
    mix-blend-mode: difference;
  }
}

.site-cursor--hidden {
  @apply opacity-0;
}

.site-cursor--hover {
  transform: translate(-50%, -50%) scale(1.5);
  filter: invert(1);
  @apply opacity-75;
}
