.site-cursor {
  @apply fixed;
  width: 20px;
  height: 20px;
  z-index: 9999;
  &--hidden {
    @apply opacity-0;
  }
  &--dark {
    .site-cursor__dot {
      @apply border-gray-900;
    }
  }
}

.site-cursor__dot {
  width: 30px;
  height: 30px;
  transform: translate(-50%, -50%) scale(1);
}

.site-cursor--hover {
  .site-cursor__dot {
    transform: translate(-50%, -50%) scale(1.5);
    @apply bg-white opacity-50;
  }
  &.site-cursor--dark {
    .site-cursor__dot {
      @apply bg-gray-900 opacity-50;
    }
  }
}
