.site-cursor {
  @apply fixed;
  width: 20px;
  height: 20px;
  z-index: 9999;
  &--hidden {
    @apply opacity-0;
  }
  &--arrow {
    .site-cursor__arrow {
      transform: translate(-50%, -50%) scale(1);
    }
    .site-cursor__dot {
      transform: translate(-50%, -50%) scale(0);
    }
  }
}

.site-cursor__dot {
  width: 20px;
  height: 20px;
  transform: translate(-50%, -50%) scale(1);

  transition: top 50ms ease-in-out, left 50ms ease-in-out,
    transform 150ms ease-in-out, filter 150ms ease-in-out;
}

.site-cursor__arrow {
  width: 150px;
  min-width: 150px;
  transform: translate(-50%, -50%) scale(0);
  mix-blend-mode: difference;
  cursor: pointer;
  transition: top 50ms ease-in-out, left 50ms ease-in-out,
    transform 150ms ease-in-out, filter 150ms ease-in-out;
}

.site-cursor--hover {
  .site-cursor__dot {
    transform: translate(-50%, -50%) scale(1.5);
    filter: invert(1);
    @apply opacity-75;
  }
}
