@font-face {
  font-family: 'Silka';
  src: url('../assets/font/silka/silka-light.woff2') format('woff2'),
    url('../assets/font/silka/silka-light.woff') format('woff'),
    url('../assets/font/silka/silka-light.eot') format('eot'),
    url('../assets/font/silka/silka-light.ttf') format('ttf');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Silka';
  src: url('../assets/font/silka/silka-regular.woff2') format('woff2'),
    url('../assets/font/silka/silka-regular.woff') format('woff'),
    url('../assets/font/silka/silka-regular.eot') format('eot'),
    url('../assets/font/silka/silka-regular.ttf') format('ttf');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Silka';
  src: url('../assets/font/silka/silka-medium.woff2') format('woff2'),
    url('../assets/font/silka/silka-medium.woff') format('woff'),
    url('../assets/font/silka/silka-medium.eot') format('eot'),
    url('../assets/font/silka/silka-medium.ttf') format('ttf');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Silka';
  src: url('../assets/font/silka/silka-semibold.woff2') format('woff2'),
    url('../assets/font/silka/silka-semibold.woff') format('woff'),
    url('../assets/font/silka/silka-semibold.eot') format('eot'),
    url('../assets/font/silka/silka-semibold.ttf') format('ttf');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Silka';
  src: url('../assets/font/silka/silka-bold.woff2') format('woff2'),
    url('../assets/font/silka/silka-bold.woff') format('woff'),
    url('../assets/font/silka/silka-bold.eot') format('eot'),
    url('../assets/font/silka/silka-bold.ttf') format('ttf');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

body {
  @apply text-gray-900 font-silka;
}
.heading-2xl {
  font-weight: 700;
  font-size: 4.5rem;
  line-height: 5rem;
  &--outline {
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 4px;
  }
  @screen md {
    font-size: 8rem;
    line-height: 9rem;
  }
  @screen xl {
    font-size: 9rem;
    line-height: 10.5rem;
  }
  @screen 2xl {
    font-size: 11rem;
    line-height: 13rem;
  }
}

.heading-xl {
  font-weight: 700;
  font-size: 5rem;
  line-height: 5.5rem;
  @screen md {
    font-size: 6rem;
    line-height: 6.75rem;
  }
  @screen xl {
    font-size: 7rem;
    line-height: 9rem;
  }
}

.heading-l {
  font-weight: 700;
  font-size: 4rem;
  @screen md {
    font-size: 5rem;
  }
  @screen xl {
    font-size: 6rem;
  }
}

.heading {
  font-weight: 600;
  font-size: 2.5rem;
  @screen md {
    font-size: 3rem;
  }
  @screen xl {
    font-size: 3.5rem;
  }
}

.heading-s {
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 2rem;
  @screen md {
    font-size: 2rem;
    line-height: 2.5rem;
  }
  @screen xl {
    font-size: 2.5rem;
    line-height: 3rem;
  }
}

.heading-xs {
  font-weight: 600;
  font-size: 1.25rem;
  @screen md {
    font-size: 1.5rem;
  }
  @screen xl {
    font-size: 2rem;
  }
}

.heading-2xs {
  font-weight: 500;
  font-size: 1.125rem;
  @screen md {
    font-size: 1.5rem;
  }
  @screen xl {
    font-size: 1.75rem;
  }
}

@responsive {
  .copy-l {
    font-weight: 400;
    font-size: 1rem;
    @screen md {
      font-size: 1.25rem;
    }
    @screen xl {
      font-size: 1.5rem;
    }
  }
}

@responsive {
  .copy {
    font-weight: 400;
    font-size: 0.9rem;
    @screen md {
      font-size: 1rem;
    }
    @screen xl {
      font-size: 1.125rem;
    }
  }
}

.copy-s {
  font-weight: 400;
  font-size: 0.7rem;
  @screen md {
    font-size: 0.8rem;
  }
  @screen xl {
    font-size: 0.85rem;
  }
}

.tagline {
  @apply uppercase font-ibmPlexMono tracking-wide;
  font-weight: 400;
  font-size: 0.9rem;
  @screen md {
    font-size: 1rem;
  }
  @screen xl {
    font-size: 1.125rem;
  }
}

.text-gradient {
  background: inherit;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.rich-content {
  @apply w-full whitespace-normal;

  > * + * {
    @apply mt-20;

    @screen xl {
      @apply mt-30;
    }
  }

  p,
  li {
    @apply copy;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    & + * {
      @apply -mb-10;

      @screen xl {
        @apply -mb-20;
      }
    }
  }

  h1 {
    @apply heading-xl;
  }
  h2 {
    @apply heading-l;
  }
  h3 {
    @apply heading;
  }
  h4 {
    @apply heading-s;
  }
  h5,
  h6 {
    @apply heading-xs;
  }

  a {
    @apply underline inline text-indigo-500 transition-all duration-500;
    &:hover {
      @apply text-indigo-700;
    }
  }

  ul,
  ol {
    @apply pl-30;
  }

  ul {
    list-style-type: disc;
  }

  ol {
    list-style-type: decimal;
  }

  li {
    &:not(:last-of-type) {
      @apply mb-10;
    }
  }
}
